<!--
  This template loads for the 'tab.event-detail' state (app.js)
  'friend' is a $scope variable created in the EventsDetail controller (controllers.js)
  The EventsDetailCtrl pulls data from the Events service (service.js)
  The Events service returns an array of events data
-->
<ion-view view-title="Event Detail">
  <ion-content padding="true">
    <img ng-src="{{event.image}}" style="width: 100%; height: 200px">
    <h3>{{ event.title }}</h3>
    <p class="event-address">
        WHERE: {{ event.venue.name }}
    </p>
    <p class="event-neighborhood">
        NEIGHBORHOOD: {{ event.venue.neighborhood }}
    </p>
    <div class="event-categories">
    <span ng-repeat="category in event.category">
      <a href="#">
      <button class="button button-outline button-stable button-small">
        {{ category.name }}
      </button>
      </a>
    </span>
  </div>
  <br/>
  <div class="event-description" markdown-to-html="event.description"><div>
  <br/>
  <div class="event-additional-info" ng-hide="event.additional_info">
      <dl>
          <dt>TIPS</dt>
          <dd markdown-to-html="event.additional_info"></dd>
      </dl>
  </div>
  </ion-content>
</ion-view>
