<ion-view view-title="Events" ng-controller="EventsCtrl">
  <ion-nav-buttons side="secondary">
     <button class="button button-icon icon ion-levels" ng-click="filterOptions()">
     </button>
   </ion-nav-buttons>
   <ion-header-bar class="bar bar-subheader filter-options padding"
                   ng-click="filterOptions()">
     <div class="filter-text" ng-repeat="(filterKey, filterValue) in filterParams.ui" ng-model="filterParams.lastRefreshTime">
      <span>{{ filterKey }}{{ filterValue }}</span><br/>
     </div>
   </ion-header-bar>
  <ion-content class="has-subheader">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
      <div class="list card event" ng-repeat="event in events track by $index">
        <div class="item item-header item-divider item-icon-right">
          <a ui-sref="tab.event-detail({eventId: event.id})">
            <h2>{{ event.title }}</h2>
            <p>{{event.venue.neighborhood}}, {{ event.venue.city }}</p>
          </a>
          <a class="tab-item" href="#" ng-click="bookmark(event)">
            <i class="icon ion-android-bookmark" ng-class="{bookmarked: event.bookmark}"></i>
          </a>
        </div>

        <div class="item item-image">
          <a ui-sref="tab.event-detail({eventId: event.id})">
            <img ng-src="{{ event.thumbnail_384_256 }}" style="width: 100%; height: 128px">
          </a>
        </div>
        <div class="item item-divider item-wordwrap">
          <a class="tab-item" ui-sref="tab.event-detail({eventId: event.id})">
              {{ event.cost === 0 ? "Free" : "$" + event.cost}}, {{ event.min_age | format_event_age:event.max_age }}
          </a>
        </div>
      </div>
      <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="addItems()"></ion-infinite-scroll>
    </ion-list>
  </ion-content>
</ion-view>
