<ion-view view-title="Events" ng-controller="EventsCtrl" hide-back-button="true" >
  <ion-nav-title>{{eventCount}} Events</ion-nav-title>
  <ion-nav-buttons side="secondary">
     <button class="button button-icon icon ion-levels" ng-click="filterOptions()">
     </button>
   </ion-nav-buttons>
   <ion-header-bar class="bar bar-subheader filter-options padding"
                   ng-click="filterOptions()">
    <div class="filter-text">
      <div ng-repeat="(filterKey, filterValue) in filterParams.ui"
      ng-model="filterParams.lastRefreshTime">
        <span>{{ filterKey }}<b>{{ filterValue }}</b></span>
      </div>
    </div>
   </ion-header-bar>
  <ion-content class="has-subheader">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <div class="spinner">
      <ion-spinner ng-if="fetchingEvents && !events.length"></ion-spinner>
    </div>
    <ion-list ng-show="events.length">
      <div class="list card event" ng-repeat="event in events track by $index">
        <div class="item item-header item-divider item-icon-right">
          <a ui-sref="tab.event-detail({eventId: event.id})">
            <h2>{{ event.title }}</h2>
            <p>{{event.venue.neighborhood}}, {{ event.venue.city }}</p>
          </a>
          <a class="tab-item" href="#" ng-click="bookmark(event)">
            <i class="icon ion-android-bookmark" ng-class="{bookmarked: event.bookmark}"></i>
          </a>
        </div>

        <div class="item item-image">
          <a ui-sref="tab.event-detail({eventId: event.id})">
            <img ng-src="{{ event.thumbnail_384_256 }}" style="height: 128px" class="event-image">
          </a>
          <div class="event-overlay">
              <span class="event-date" ng-if="event.end_date">{{ event.start_date|amDateFormat:'ddd, MMM D' }}<span ng-if="event.end_date != event.start_date"> - {{ event.end_date|amDateFormat:'ddd, MMM D' }}</span></span>
              <span class="event-freshness just-in" ng-if="event.published_at| amDifference:null:'days' | gte:-2">Just in</span>
              <span class="event-freshness expiring" ng-if="event.end_date && event.end_date| amDifference:null:'days' | lte:5">Ending soon</span>
          </div>
        </div>
        <div class="item item-divider item-wordwrap tabs tabs-secondary">
          <a class="tab-item" ui-sref="tab.event-detail({eventId: event.id})">
              <span class="event-basic-info">{{ event.cost === 0 ? "Free" : "$" + event.cost}}, {{ event.min_age | format_event_age:event.max_age }}</span>
          </a>
          <a class="tab-item" ui-sref="tab.event-detail({eventId: event.id})" ng-show="event.distance">
              <span class="event-basic-info">{{ event.distance | number : 1 }} mi</span>
          </a>
        </div>
      </div>
      <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="addItems()"></ion-infinite-scroll>
    </ion-list>
    <div class="list card padding" ng-if="!fetchingEvents" ng-hide="events.length">
      <h3>We're getting there</h3>
      <h4>Looks like we're not there.. yet. Please check back soon as we are constantly adding new events and cities!</h4>
      <h5>Currently we are only in the San Francisco Bay Area</h5>
      <!-- <h3>No events found for the criterias you have specified</h3> -->
    </div>
  </ion-content>
</ion-view>
