<ion-view view-title="Bookmarked Events" cache-view="false" ng-controller="UserActionCtrl">
  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefreshForBookmarkedEvents()">
    </ion-refresher>
    <ion-list>
      <div class="list card event" ng-repeat="event in bookmarked_events track by $index">
        <div class="item item-header item-divider item-icon-right">
          <a ui-sref="tab.event-detail({eventId: event.id})">
            <h2>{{ event.title }}</h2>
            <p>{{event.venue.neighborhood}}, {{ event.venue.city }}</p>
          </a>
        </div>

        <div class="item item-image">
          <a ui-sref="tab.event-detail({eventId: event.id})">
            <img ng-src="{{ event.thumbnail_384_256 }}" style="width: 100%; height: 128px">
          </a>
        </div>
        <div class="item item-divider item-wordwrap tabs tabs-secondary">
          <a class="tab-item" ui-sref="tab.event-detail({eventId: event.id})">
              <span class="event-basic-info">{{ event.cost === 0 ? "Free" : "$" + event.cost}}, {{ event.min_age | format_event_age:event.max_age }}</span>
          </a>
          <a class="tab-item" ui-sref="tab.event-detail({eventId: event.id})" ng-show="event.distance">
              <span class="event-basic-info">{{ event.distance | number : 1 }} mi</span>
          </a>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
