<ion-view view-title="Bookmarked Events" cache-view="false" ng-controller="UserCtrl">
  <ion-content>
    <ion-list>
      <div class="list card event" ng-repeat="event in currentUser.bookmarked_events track by $index">
        <div class="item item-header item-divider item-icon-right">
          <a ui-sref="tab.event-detail({eventId: event.id})">
            <h2>{{ event.title }}</h2>
            <p>{{event.venue.neighborhood}}, {{ event.venue.city }}</p>
          </a>
        </div>

        <div class="item item-image">
          <a ui-sref="tab.event-detail({eventId: event.id})">
            <img ng-src="{{ event.thumbnail_384_256 }}" style="width: 100%; height: 128px">
          </a>
        </div>
        <div class="item item-divider item-wordwrap">
          <a class="tab-item" ui-sref="tab.event-detail({eventId: event.id})">
              {{ event.cost === 0 ? "Free" : "$" + event.cost}}, {{ event.min_age | format_event_age:event.max_age }}
          </a>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
