<ion-view view-title="Forgot Password">
  <ion-content padding="true">
   <form name="userForm" ng-submit="forgotPassword(email)" novalidate>
     <h4>Please enter your email to reset password.</h4>
      <div class="list">
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input required type="email" class="form-control" placeholder="Email" ng-model="email">
            <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
          </label>
          <button class="button button-small" ng-disabled="userForm.$invalid">
            Submit
          </button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
