<ion-view ng-controller="UserCtrl">
  <ion-nav-title>{{currentUser.first_name}}'s Profile</ion-nav-title>
  <ion-nav-buttons side="secondary">
     <button class="button button-clear button-assertive" ng-click="signOut()">
       Sign Out
     </button>
   </ion-nav-buttons>
  <ion-content padding="true">
    <div class="list card">
      <h2 class="item item-icon-left"><i class="icon ion-person"></i>{{currentUser.profile.first_name}} {{currentUser.profile.last_name}}</h2>
      <span class="item item-icon-left"><i class="icon ion-at"></i>{{currentUser.email}}</span>
      <span class="item item-icon-left" ng-if="currentUser.profile.city || currentUser.profile.state"><i class="icon ion-home"></i>{{currentUser.profile.city}}, {{currentUser.profile.state}}<span ng-if="currentUser.profile.zipcode">, {{currentUser.profile.zipcode}}</span></span>
      <div class="list" ng-if="currentUser.children.length">
        <div class="item item-divider">
          Children
        </div>
        <div class="item item-text-wrap" ng-repeat="child in currentUser.children track by $index">
          <strong>{{child.name}}</strong> {{ child.gender | child_gender_to_string }}, {{ child.age }} years old
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
